# Ignore build results
bin/
obj/

# Ignore user-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignore packages
*.nupkg
packages/

# Ignore the database file if using SQLite
localdatabase.db

# Ignore IDE files
.vscode/
.idea/
